In [1]:
import os

# 数据处理工具
import pandas as pd
import numpy as np
import random as rnd
from collections import Counter

# 可视化工具
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

导入训练集与测试集，train.csv，test.csv，userFeature.data，adFeature.csv放在当前data/目录即可，data目录已被gitignore屏蔽，不会被提交

In [2]:
ad_feature = pd.read_csv('data/adFeature.csv')

处理广告特征

In [3]:
ad_feature.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>aid</th>
      <th>advertiserId</th>
      <th>campaignId</th>
      <th>creativeId</th>
      <th>creativeSize</th>
      <th>adCategoryId</th>
      <th>productId</th>
      <th>productType</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>177</td>
      <td>8203</td>
      <td>76104</td>
      <td>1500666</td>
      <td>59</td>
      <td>282</td>
      <td>0</td>
      <td>6</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2050</td>
      <td>19441</td>
      <td>178687</td>
      <td>245165</td>
      <td>53</td>
      <td>1</td>
      <td>0</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1716</td>
      <td>5552</td>
      <td>158101</td>
      <td>1080850</td>
      <td>35</td>
      <td>27</td>
      <td>113</td>
      <td>9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>336</td>
      <td>370</td>
      <td>4833</td>
      <td>119845</td>
      <td>22</td>
      <td>67</td>
      <td>113</td>
      <td>9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>671</td>
      <td>45705</td>
      <td>352827</td>
      <td>660519</td>
      <td>42</td>
      <td>67</td>
      <td>0</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
ad_feature.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>aid</th>
      <th>advertiserId</th>
      <th>campaignId</th>
      <th>creativeId</th>
      <th>creativeSize</th>
      <th>adCategoryId</th>
      <th>productId</th>
      <th>productType</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>173.000000</td>
      <td>173.000000</td>
      <td>173.000000</td>
      <td>1.730000e+02</td>
      <td>173.000000</td>
      <td>173.000000</td>
      <td>173.000000</td>
      <td>173.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1140.364162</td>
      <td>13229.202312</td>
      <td>159044.612717</td>
      <td>9.388567e+05</td>
      <td>50.364162</td>
      <td>57.335260</td>
      <td>2559.277457</td>
      <td>7.346821</td>
    </tr>
    <tr>
      <th>std</th>
      <td>658.957025</td>
      <td>23033.243589</td>
      <td>184836.397583</td>
      <td>5.211123e+05</td>
      <td>24.827317</td>
      <td>62.197012</td>
      <td>5570.602765</td>
      <td>2.827595</td>
    </tr>
    <tr>
      <th>min</th>
      <td>6.000000</td>
      <td>60.000000</td>
      <td>80.000000</td>
      <td>5.977000e+03</td>
      <td>20.000000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>4.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>562.000000</td>
      <td>702.000000</td>
      <td>31020.000000</td>
      <td>4.924840e+05</td>
      <td>35.000000</td>
      <td>21.000000</td>
      <td>0.000000</td>
      <td>4.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1171.000000</td>
      <td>7229.000000</td>
      <td>76104.000000</td>
      <td>9.818220e+05</td>
      <td>42.000000</td>
      <td>27.000000</td>
      <td>0.000000</td>
      <td>6.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>1728.000000</td>
      <td>11487.000000</td>
      <td>209098.000000</td>
      <td>1.383456e+06</td>
      <td>59.000000</td>
      <td>67.000000</td>
      <td>3733.000000</td>
      <td>11.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>2216.000000</td>
      <td>158679.000000</td>
      <td>766460.000000</td>
      <td>1.806760e+06</td>
      <td>109.000000</td>
      <td>282.000000</td>
      <td>28986.000000</td>
      <td>11.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
aid = ad_feature['aid']
aid = np.log(aid)
aid.describe()

count    173.000000
mean       6.707754
std        1.073480
min        1.791759
25%        6.331502
50%        7.065613
75%        7.454720
max        7.703459
Name: aid, dtype: float64

由以下可知，各属性特征种类可按词向量的方式处理

In [5]:
print('advertiserId number: ', ad_feature['advertiserId'].drop_duplicates().count())
print('campaignId number: ', ad_feature['campaignId'].drop_duplicates().count())

advertiserId number:  79
campaignId number:  138

In [6]:
advertiserId = ad_feature['advertiserId']
advertiserId = np.log(advertiserId)
advertiserId.describe()

count    173.000000
mean       8.262341
std        1.804075
min        4.094345
25%        6.553933
50%        8.885856
75%        9.348971
max       11.974639
Name: advertiserId, dtype: float64

In [26]:
ad_feature['advertiserId'] = advertiserId

In [8]:
ad_feature['campaignId'].describe()

count       173.000000
mean     159044.612717
std      184836.397583
min          80.000000
25%       31020.000000
50%       76104.000000
75%      209098.000000
max      766460.000000
Name: campaignId, dtype: float64

In [9]:
campaignId = ad_feature['campaignId']
campaignId = np.log(campaignId)
campaignId.describe()

count    173.000000
mean      11.140551
std        1.601048
min        4.382027
25%       10.342387
50%       11.239856
75%       12.250558
max       13.549538
Name: campaignId, dtype: float64

In [11]:
ad_feature['campaignId'] = campaignId

In [83]:
print('creativeId number: ', ad_feature['creativeId'].drop_duplicates().count())
print('creativeSize number: ', ad_feature['creativeSize'].drop_duplicates().count())

creativeId number:

173

creativeSize number:

15

In [13]:
creativeId = ad_feature['creativeId']
creativeId = np.log(creativeId)
creativeId.describe()

count    173.000000
mean      13.448599
std        1.004061
min        8.695674
25%       13.107217
50%       13.797165
75%       14.140095
max       14.407046
Name: creativeId, dtype: float64

In [14]:
ad_feature['creativeId'] = creativeId

In [28]:
ad_feature['creativeSize'].describe()

count    173.000000
mean      50.364162
std       24.827317
min       20.000000
25%       35.000000
50%       42.000000
75%       59.000000
max      109.000000
Name: creativeSize, dtype: float64

In [16]:
adCategoryId = ad_feature['adCategoryId']
adCategoryId = np.log(adCategoryId)
adCategoryId.describe()

count    173.000000
mean       3.535812
std        1.055204
min        0.000000
25%        3.044522
50%        3.295837
75%        4.204693
max        5.641907
Name: adCategoryId, dtype: float64

In [23]:
ad_feature['adCategoryId'] = adCategoryId

In [21]:
productId = ad_feature['productId']
productId = productId + 1
productId = np.log(productId)
productId.describe()

count    173.000000
mean       3.452279
std        3.855613
min        0.000000
25%        0.000000
50%        0.000000
75%        8.225235
max       10.274603
Name: productId, dtype: float64

In [24]:
ad_feature['productId'] = productId

In [22]:
ad_feature['productType'].describe()

count    173.000000
mean       7.346821
std        2.827595
min        4.000000
25%        4.000000
50%        6.000000
75%       11.000000
max       11.000000
Name: productType, dtype: float64

In [85]:
print('adCategoryId number: ', ad_feature['adCategoryId'].drop_duplicates().count())
print('productId number: ', ad_feature['productId'].drop_duplicates().count())
print('productType number: ', ad_feature['productType'].drop_duplicates().count())

adCategoryId number:

40

productId number:

33

productType number:

4

In [27]:
ad_feature.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>aid</th>
      <th>advertiserId</th>
      <th>campaignId</th>
      <th>creativeId</th>
      <th>creativeSize</th>
      <th>adCategoryId</th>
      <th>productId</th>
      <th>productType</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>173.000000</td>
      <td>173.000000</td>
      <td>173.000000</td>
      <td>173.000000</td>
      <td>173.000000</td>
      <td>173.000000</td>
      <td>173.000000</td>
      <td>173.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1140.364162</td>
      <td>8.262341</td>
      <td>11.140551</td>
      <td>13.448599</td>
      <td>50.364162</td>
      <td>3.535812</td>
      <td>3.452279</td>
      <td>7.346821</td>
    </tr>
    <tr>
      <th>std</th>
      <td>658.957025</td>
      <td>1.804075</td>
      <td>1.601048</td>
      <td>1.004061</td>
      <td>24.827317</td>
      <td>1.055204</td>
      <td>3.855613</td>
      <td>2.827595</td>
    </tr>
    <tr>
      <th>min</th>
      <td>6.000000</td>
      <td>4.094345</td>
      <td>4.382027</td>
      <td>8.695674</td>
      <td>20.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>4.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>562.000000</td>
      <td>6.553933</td>
      <td>10.342387</td>
      <td>13.107217</td>
      <td>35.000000</td>
      <td>3.044522</td>
      <td>0.000000</td>
      <td>4.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1171.000000</td>
      <td>8.885856</td>
      <td>11.239856</td>
      <td>13.797165</td>
      <td>42.000000</td>
      <td>3.295837</td>
      <td>0.000000</td>
      <td>6.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>1728.000000</td>
      <td>9.348971</td>
      <td>12.250558</td>
      <td>14.140095</td>
      <td>59.000000</td>
      <td>4.204693</td>
      <td>8.225235</td>
      <td>11.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>2216.000000</td>
      <td>11.974639</td>
      <td>13.549538</td>
      <td>14.407046</td>
      <td>109.000000</td>
      <td>5.641907</td>
      <td>10.274603</td>
      <td>11.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [33]:
ad_norm = ad_feature.copy()
ad_norm['advertiserId'] = (ad_norm['advertiserId'] - ad_norm['advertiserId'].min()) / (ad_norm['advertiserId'].max() - ad_norm['advertiserId'].min())
ad_norm['campaignId'] = (ad_norm['campaignId'] - ad_norm['campaignId'].min()) / (ad_norm['campaignId'].max() - ad_norm['campaignId'].min())
ad_norm['creativeId'] = (ad_norm['creativeId'] - ad_norm['creativeId'].min()) / (ad_norm['creativeId'].max() - ad_norm['creativeId'].min())
ad_norm['creativeSize'] = (ad_norm['creativeSize'] - ad_norm['creativeSize'].min()) / (ad_norm['creativeSize'].max() - ad_norm['creativeSize'].min())
ad_norm['adCategoryId'] = (ad_norm['adCategoryId'] - ad_norm['adCategoryId'].min()) / (ad_norm['adCategoryId'].max() - ad_norm['adCategoryId'].min())
ad_norm['productId'] = (ad_norm['productId'] - ad_norm['productId'].min()) / (ad_norm['productId'].max() - ad_norm['productId'].min())
ad_norm['productType'] = (ad_norm['productType'] - ad_norm['productType'].min()) / (ad_norm['productType'].max() - ad_norm['productType'].min())
ad_norm.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>aid</th>
      <th>advertiserId</th>
      <th>campaignId</th>
      <th>creativeId</th>
      <th>creativeSize</th>
      <th>adCategoryId</th>
      <th>productId</th>
      <th>productType</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>173.000000</td>
      <td>173.000000</td>
      <td>173.000000</td>
      <td>173.000000</td>
      <td>173.000000</td>
      <td>173.000000</td>
      <td>173.000000</td>
      <td>173.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1140.364162</td>
      <td>0.528914</td>
      <td>0.737226</td>
      <td>0.832186</td>
      <td>0.341170</td>
      <td>0.626705</td>
      <td>0.336001</td>
      <td>0.478117</td>
    </tr>
    <tr>
      <th>std</th>
      <td>658.957025</td>
      <td>0.228935</td>
      <td>0.174644</td>
      <td>0.175800</td>
      <td>0.278959</td>
      <td>0.187030</td>
      <td>0.375257</td>
      <td>0.403942</td>
    </tr>
    <tr>
      <th>min</th>
      <td>6.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>562.000000</td>
      <td>0.312119</td>
      <td>0.650161</td>
      <td>0.772414</td>
      <td>0.168539</td>
      <td>0.539626</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1171.000000</td>
      <td>0.608037</td>
      <td>0.748058</td>
      <td>0.893216</td>
      <td>0.247191</td>
      <td>0.584171</td>
      <td>0.000000</td>
      <td>0.285714</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>1728.000000</td>
      <td>0.666806</td>
      <td>0.858306</td>
      <td>0.953260</td>
      <td>0.438202</td>
      <td>0.745261</td>
      <td>0.800540</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>2216.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [2]:
train_train = pd.read_csv('data/train_train.csv')
train_valid = pd.read_csv('data/train_valid.csv')

In [4]:
train_train_dropped = train_train.drop(columns=['advertiserId', 'campaignId', 'creativeId', 'creativeSize', 'adCategoryId', 'productId', 'productType'])
train_train_dropped.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>aid</th>
      <th>uid</th>
      <th>label</th>
      <th>age</th>
      <th>gender</th>
      <th>marriageStatus</th>
      <th>education</th>
      <th>consumptionAbility</th>
      <th>LBS</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
      <th>interest</th>
      <th>kw</th>
      <th>topic</th>
      <th>appId</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1379</td>
      <td>60412222</td>
      <td>-1</td>
      <td>0.4</td>
      <td>0.5</td>
      <td>0.219512</td>
      <td>0.857143</td>
      <td>0.5</td>
      <td>0.347041</td>
      <td>0.333333</td>
      <td>0.333333</td>
      <td>0.000000</td>
      <td>0.0</td>
      <td>77-49-15-6-46-116-36-11-209-267-252-246-221-22...</td>
      <td>652-2908-2-719-3444-109-14286-12371</td>
      <td>8418-4484-6088-2552-5911-18510-12545-14835-117...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1375</td>
      <td>77524103</td>
      <td>-1</td>
      <td>0.2</td>
      <td>1.0</td>
      <td>0.024390</td>
      <td>0.285714</td>
      <td>0.0</td>
      <td>0.739218</td>
      <td>0.033333</td>
      <td>0.166667</td>
      <td>0.000000</td>
      <td>0.0</td>
      <td>36-11</td>
      <td>480-77-11-3142-218-4642-1540-6377</td>
      <td>5935-6661-6578-8778-3414-11256-16063-17808-162...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1415</td>
      <td>28068503</td>
      <td>-1</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>0.048780</td>
      <td>1.000000</td>
      <td>0.5</td>
      <td>0.419258</td>
      <td>0.266667</td>
      <td>0.333333</td>
      <td>0.333333</td>
      <td>0.0</td>
      <td>93-70-77-86-37-109-98-4-75-69-29-49-83-6-42-46...</td>
      <td>262-1296-1721-138-43-3069-60-3970-30</td>
      <td>9826-9264-55-506-4851-14338-17315-18747-18083-...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1468</td>
      <td>26510914</td>
      <td>-1</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>0.219512</td>
      <td>0.857143</td>
      <td>0.0</td>
      <td>0.952859</td>
      <td>0.333333</td>
      <td>0.666667</td>
      <td>0.333333</td>
      <td>0.0</td>
      <td>93-70-118-100-47-76-4-69-28-8-106-6-46-22-9-36...</td>
      <td>10326-7558-8697-1352-267-4-972</td>
      <td>9377-384-254-915-9477-11356-11891-10943-19705-...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1468</td>
      <td>82185043</td>
      <td>-1</td>
      <td>1.0</td>
      <td>0.5</td>
      <td>0.048780</td>
      <td>0.857143</td>
      <td>0.5</td>
      <td>0.105316</td>
      <td>0.333333</td>
      <td>0.333333</td>
      <td>0.333333</td>
      <td>0.0</td>
      <td>93-70-75-69-28-29-46-36-11-107-552-600-631-616...</td>
      <td>39-8266-2811-2833-771-2814-208-638</td>
      <td>1066-7684-2404-6939-421-10566-10473-11815-1456...</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
train_valid_dropped = train_valid.drop(columns=['advertiserId', 'campaignId', 'creativeId', 'creativeSize', 'adCategoryId', 'productId', 'productType'])

In [42]:
train_train_v2 = pd.merge(train_train_dropped, ad_norm, on='aid')
train_valid_v2 = pd.merge(train_valid_dropped, ad_norm, on='aid')

In [45]:
train_train_v2['advertiserId'].describe()

count    7.039051e+06
mean     5.738136e-01
std      2.186762e-01
min      0.000000e+00
25%      3.670195e-01
50%      6.138024e-01
75%      7.209298e-01
max      1.000000e+00
Name: advertiserId, dtype: float64

In [46]:
from sklearn.utils import shuffle

In [51]:
train_train_v2 = shuffle(train_train_v2)
train_valid_v2 = shuffle(train_valid_v2)

In [5]:
train_train_v2.to_csv('data/train_train_v2.csv', columns=train_train.columns, index=False)
train_valid_v2.to_csv('data/train_valid_v2.csv', columns=train_train.columns, index=False)

In [9]:
user_columns = ['age', 'gender', 'marriageStatus', 'education', 'consumptionAbility', 'LBS', 
          'interest', 
          'kw', 
          'topic', 
          'appId',  'ct', 'os', 'carrier', 'house']

In [6]:
train_train_v2 = pd.read_csv('data/train_train_v2.csv')
train_valid_v2 = pd.read_csv('data/train_valid_v2.csv')
user_feature_v2_norm = pd.read_csv('data/user_feature_v2_norm.csv')

In [7]:
l1 = len(train_train_v2.index)
l2 = len(train_valid_v2.index)
l3 = len(user_feature_v2_norm.index)
print(l1+l2)
print(l3)

8798814
11420039

In [11]:
train_train_tmp = train_train_v2.drop(columns=user_columns)
train_valid_tmp = train_valid_v2.drop(columns=user_columns)

In [12]:
train_train_tmp.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>aid</th>
      <th>uid</th>
      <th>label</th>
      <th>advertiserId</th>
      <th>campaignId</th>
      <th>creativeId</th>
      <th>creativeSize</th>
      <th>adCategoryId</th>
      <th>productId</th>
      <th>productType</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1918</td>
      <td>53367374</td>
      <td>-1</td>
      <td>1.000000</td>
      <td>0.980916</td>
      <td>0.988366</td>
      <td>0.449438</td>
      <td>0.245714</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1910</td>
      <td>14417754</td>
      <td>-1</td>
      <td>0.759275</td>
      <td>0.724609</td>
      <td>0.700518</td>
      <td>0.247191</td>
      <td>0.886925</td>
      <td>0.931332</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1508</td>
      <td>14953605</td>
      <td>-1</td>
      <td>0.256252</td>
      <td>0.793807</td>
      <td>0.951270</td>
      <td>0.168539</td>
      <td>0.408122</td>
      <td>0.915724</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>846</td>
      <td>54388178</td>
      <td>-1</td>
      <td>0.633911</td>
      <td>0.901425</td>
      <td>0.908832</td>
      <td>0.022472</td>
      <td>0.666654</td>
      <td>0.988403</td>
      <td>0.714286</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1119</td>
      <td>11983799</td>
      <td>-1</td>
      <td>0.532715</td>
      <td>0.728740</td>
      <td>0.857085</td>
      <td>0.438202</td>
      <td>0.408122</td>
      <td>0.960196</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
train_train_v3 = pd.merge(train_train_tmp, user_feature_v2_norm, on='uid')

In [16]:
train_valid_v3 = pd.merge(train_valid_tmp, user_feature_v2_norm, on='uid')

In [19]:
train_train_v3.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>aid</th>
      <th>uid</th>
      <th>label</th>
      <th>advertiserId</th>
      <th>campaignId</th>
      <th>creativeId</th>
      <th>creativeSize</th>
      <th>adCategoryId</th>
      <th>productId</th>
      <th>productType</th>
      <th>...</th>
      <th>kw3</th>
      <th>topic1</th>
      <th>topic2</th>
      <th>topic3</th>
      <th>appIdInstall</th>
      <th>appIdAction</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1918</td>
      <td>53367374</td>
      <td>-1</td>
      <td>1.000000</td>
      <td>0.980916</td>
      <td>0.988366</td>
      <td>0.449438</td>
      <td>0.245714</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>...</td>
      <td>0.000000</td>
      <td>0.980259</td>
      <td>0.949466</td>
      <td>0.000000</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.6</td>
      <td>0.333333</td>
      <td>1.000000</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1910</td>
      <td>14417754</td>
      <td>-1</td>
      <td>0.759275</td>
      <td>0.724609</td>
      <td>0.700518</td>
      <td>0.247191</td>
      <td>0.886925</td>
      <td>0.931332</td>
      <td>1.000000</td>
      <td>...</td>
      <td>0.930038</td>
      <td>0.939525</td>
      <td>0.967214</td>
      <td>0.935666</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.8</td>
      <td>0.333333</td>
      <td>0.333333</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1508</td>
      <td>14953605</td>
      <td>-1</td>
      <td>0.256252</td>
      <td>0.793807</td>
      <td>0.951270</td>
      <td>0.168539</td>
      <td>0.408122</td>
      <td>0.915724</td>
      <td>1.000000</td>
      <td>...</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.971847</td>
      <td>0.000000</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.3</td>
      <td>0.666667</td>
      <td>0.333333</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>846</td>
      <td>54388178</td>
      <td>-1</td>
      <td>0.633911</td>
      <td>0.901425</td>
      <td>0.908832</td>
      <td>0.022472</td>
      <td>0.666654</td>
      <td>0.988403</td>
      <td>0.714286</td>
      <td>...</td>
      <td>0.000000</td>
      <td>0.944491</td>
      <td>0.930259</td>
      <td>0.000000</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.8</td>
      <td>0.333333</td>
      <td>0.333333</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1119</td>
      <td>11983799</td>
      <td>-1</td>
      <td>0.532715</td>
      <td>0.728740</td>
      <td>0.857085</td>
      <td>0.438202</td>
      <td>0.408122</td>
      <td>0.960196</td>
      <td>1.000000</td>
      <td>...</td>
      <td>0.000000</td>
      <td>0.943068</td>
      <td>0.924700</td>
      <td>0.000000</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.4</td>
      <td>0.333333</td>
      <td>0.000000</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 33 columns</p>
</div>

In [20]:
train_valid_v3.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>aid</th>
      <th>uid</th>
      <th>label</th>
      <th>advertiserId</th>
      <th>campaignId</th>
      <th>creativeId</th>
      <th>creativeSize</th>
      <th>adCategoryId</th>
      <th>productId</th>
      <th>productType</th>
      <th>...</th>
      <th>kw3</th>
      <th>topic1</th>
      <th>topic2</th>
      <th>topic3</th>
      <th>appIdInstall</th>
      <th>appIdAction</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>681</td>
      <td>20768398</td>
      <td>-1</td>
      <td>0.316734</td>
      <td>0.838518</td>
      <td>0.982869</td>
      <td>0.247191</td>
      <td>0.563294</td>
      <td>0.911173</td>
      <td>1.000000</td>
      <td>...</td>
      <td>0.0</td>
      <td>0.931682</td>
      <td>0.928140</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.333333</td>
      <td>0.333333</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1918</td>
      <td>17798164</td>
      <td>-1</td>
      <td>1.000000</td>
      <td>0.980916</td>
      <td>0.988366</td>
      <td>0.449438</td>
      <td>0.245714</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>...</td>
      <td>0.0</td>
      <td>0.920043</td>
      <td>0.948027</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.4</td>
      <td>0.333333</td>
      <td>0.333333</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1950</td>
      <td>80662635</td>
      <td>-1</td>
      <td>0.830737</td>
      <td>0.870202</td>
      <td>0.899212</td>
      <td>0.168539</td>
      <td>0.454625</td>
      <td>0.996126</td>
      <td>0.714286</td>
      <td>...</td>
      <td>0.0</td>
      <td>0.950882</td>
      <td>0.921825</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.4</td>
      <td>0.333333</td>
      <td>1.000000</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>212</td>
      <td>40362347</td>
      <td>-1</td>
      <td>0.624077</td>
      <td>0.695760</td>
      <td>0.910469</td>
      <td>0.640449</td>
      <td>0.954375</td>
      <td>0.000000</td>
      <td>0.285714</td>
      <td>...</td>
      <td>0.0</td>
      <td>0.917442</td>
      <td>0.891215</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.4</td>
      <td>0.666667</td>
      <td>0.333333</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>686</td>
      <td>21215249</td>
      <td>-1</td>
      <td>0.230849</td>
      <td>0.989590</td>
      <td>0.963177</td>
      <td>0.168539</td>
      <td>0.584171</td>
      <td>0.460962</td>
      <td>0.714286</td>
      <td>...</td>
      <td>0.0</td>
      <td>0.919189</td>
      <td>0.882459</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.4</td>
      <td>0.333333</td>
      <td>0.333333</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 33 columns</p>
</div>

In [21]:
from sklearn.utils import shuffle

In [22]:
shuffle(train_train_v3).to_csv('data/train_train_v3.csv', columns=train_train_v3.columns, index=False)
shuffle(train_valid_v3).to_csv('data/train_valid_v3.csv', columns=train_train_v3.columns, index=False)