In [1]:
import pandas as pd

In [2]:
ad_feature_mapped = pd.read_csv('data/ad_feature_mapped.csv')
user_feature_final = pd.read_csv('data/user_feature_final.csv')
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [3]:
ad_feature_mapped.dtypes

aid               int64
advertiserId    float64
campaignId      float64
creativeId      float64
creativeSize    float64
adCategoryId    float64
productId       float64
productType     float64
dtype: object

In [4]:
user_feature_final.dtypes

uid                     int64
age                   float64
gender                float64
marriageStatus        float64
education             float64
consumptionAbility    float64
LBS                   float64
ct                    float64
os                    float64
carrier               float64
house                 float64
interest               object
kw                     object
topic                  object
appId                  object
dtype: object

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8798814 entries, 0 to 8798813
Data columns (total 3 columns):
aid      int64
uid      int64
label    int64
dtypes: int64(3)
memory usage: 201.4 MB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2265989 entries, 0 to 2265988
Data columns (total 2 columns):
aid    int64
uid    int64
dtypes: int64(2)
memory usage: 34.6 MB

In [15]:
print('user feature number: ', user_feature_final['uid'].drop_duplicates().count())
print('train uid number: ', train['uid'].drop_duplicates().count())
print('test uid number:  ', test['uid'].drop_duplicates().count())
print('test + train:  ', test['uid'].drop_duplicates().count() + train['uid'].drop_duplicates().count())

user feature number:  11420039

train uid number:  7883466

test uid number:   2195951

test + train:   10079417

In [18]:
print('ad feature number: ', ad_feature_mapped['aid'].drop_duplicates().count())
print('train aid number: ', train['aid'].drop_duplicates().count())
print('test aid number:  ', test['aid'].drop_duplicates().count())

ad feature number:  173
train aid number:  173
test aid number:   173

In [7]:
ad_feature_mapped.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>aid</th>
      <th>advertiserId</th>
      <th>campaignId</th>
      <th>creativeId</th>
      <th>creativeSize</th>
      <th>adCategoryId</th>
      <th>productId</th>
      <th>productType</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>177</td>
      <td>0.000000</td>
      <td>0.021898</td>
      <td>0.982558</td>
      <td>0.142857</td>
      <td>0.358974</td>
      <td>0.00000</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2050</td>
      <td>0.923077</td>
      <td>1.000000</td>
      <td>0.017442</td>
      <td>0.285714</td>
      <td>0.384615</td>
      <td>0.00000</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1716</td>
      <td>0.064103</td>
      <td>0.138686</td>
      <td>0.034884</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.03125</td>
      <td>0.666667</td>
    </tr>
    <tr>
      <th>3</th>
      <td>336</td>
      <td>0.025641</td>
      <td>0.905109</td>
      <td>0.081395</td>
      <td>0.071429</td>
      <td>0.076923</td>
      <td>0.03125</td>
      <td>0.666667</td>
    </tr>
    <tr>
      <th>4</th>
      <td>671</td>
      <td>0.230769</td>
      <td>0.102190</td>
      <td>0.087209</td>
      <td>0.214286</td>
      <td>0.076923</td>
      <td>0.00000</td>
      <td>0.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
user_feature_final.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>uid</th>
      <th>age</th>
      <th>gender</th>
      <th>marriageStatus</th>
      <th>education</th>
      <th>consumptionAbility</th>
      <th>LBS</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
      <th>interest</th>
      <th>kw</th>
      <th>topic</th>
      <th>appId</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>26325489</td>
      <td>0.8</td>
      <td>1.0</td>
      <td>0.048780</td>
      <td>1.000000</td>
      <td>1.0</td>
      <td>0.952859</td>
      <td>0.333333</td>
      <td>0.666667</td>
      <td>0.333333</td>
      <td>0.0</td>
      <td>93-70-77-86-109-47-75-69-45-8-29-49-83-6-46-36...</td>
      <td>2643-7395-1625-11-1-5-3251-4343-2845</td>
      <td>9826-105-8525-5488-7281-19708-15553-16745-1747...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1184123</td>
      <td>0.4</td>
      <td>0.5</td>
      <td>0.196646</td>
      <td>0.285714</td>
      <td>0.5</td>
      <td>0.805416</td>
      <td>0.333333</td>
      <td>0.333333</td>
      <td>0.333333</td>
      <td>0.0</td>
      <td>75-29-233</td>
      <td>12-247-77-7736-50-897-1754-877-125</td>
      <td>4391-9140-5669-1348-4388-19401-17724-11380-188...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>76072711</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>0.219512</td>
      <td>0.714286</td>
      <td>0.5</td>
      <td>0.929789</td>
      <td>0.333333</td>
      <td>0.333333</td>
      <td>1.000000</td>
      <td>0.0</td>
      <td>70-12-28-106-59-49-41-6-42-115-35-116-36-11-96...</td>
      <td>6951-471-2035-14-69-45-43-60</td>
      <td>1502-5488-9826-2187-8088-15005-19154-12756-156...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>63071413</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>0.048780</td>
      <td>1.000000</td>
      <td>0.5</td>
      <td>0.487462</td>
      <td>0.333333</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>0.0</td>
      <td>93-70-77-47-76-75-69-29-59-49-122-42-46-23-17-...</td>
      <td>113-184-372-492-1478-555-531-3458-3962-600</td>
      <td>1619-7342-3064-9213-8525-10810-12438-15659-118...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>81294159</td>
      <td>1.0</td>
      <td>0.5</td>
      <td>0.048780</td>
      <td>0.857143</td>
      <td>1.0</td>
      <td>0.112337</td>
      <td>1.000000</td>
      <td>0.333333</td>
      <td>1.000000</td>
      <td>0.0</td>
      <td>75-29-49-122-36-11-631-616-513-508-506-632-542...</td>
      <td>11-13232-544-1734-154-3234-339-400-43</td>
      <td>477-9826-5808-644-2747-15483-12199-15424-11511...</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
train_ad = pd.merge(train, ad_feature_mapped, on='aid')
train_ad.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>aid</th>
      <th>uid</th>
      <th>label</th>
      <th>advertiserId</th>
      <th>campaignId</th>
      <th>creativeId</th>
      <th>creativeSize</th>
      <th>adCategoryId</th>
      <th>productId</th>
      <th>productType</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>699</td>
      <td>78508957</td>
      <td>-1</td>
      <td>0.089744</td>
      <td>0.051095</td>
      <td>0.063953</td>
      <td>0.142857</td>
      <td>0.205128</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>699</td>
      <td>32650128</td>
      <td>-1</td>
      <td>0.089744</td>
      <td>0.051095</td>
      <td>0.063953</td>
      <td>0.142857</td>
      <td>0.205128</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>699</td>
      <td>19061996</td>
      <td>-1</td>
      <td>0.089744</td>
      <td>0.051095</td>
      <td>0.063953</td>
      <td>0.142857</td>
      <td>0.205128</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>699</td>
      <td>51590482</td>
      <td>-1</td>
      <td>0.089744</td>
      <td>0.051095</td>
      <td>0.063953</td>
      <td>0.142857</td>
      <td>0.205128</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>699</td>
      <td>14658348</td>
      <td>-1</td>
      <td>0.089744</td>
      <td>0.051095</td>
      <td>0.063953</td>
      <td>0.142857</td>
      <td>0.205128</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
train_ad.columns

Index(['aid', 'uid', 'label', 'advertiserId', 'campaignId', 'creativeId',
       'creativeSize', 'adCategoryId', 'productId', 'productType'],
      dtype='object')

In [12]:
train_ad_user = pd.merge(train_ad, user_feature_final, on='uid')
train_ad_user.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>aid</th>
      <th>uid</th>
      <th>label</th>
      <th>advertiserId</th>
      <th>campaignId</th>
      <th>creativeId</th>
      <th>creativeSize</th>
      <th>adCategoryId</th>
      <th>productId</th>
      <th>productType</th>
      <th>...</th>
      <th>consumptionAbility</th>
      <th>LBS</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
      <th>interest</th>
      <th>kw</th>
      <th>topic</th>
      <th>appId</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>699</td>
      <td>78508957</td>
      <td>-1</td>
      <td>0.089744</td>
      <td>0.051095</td>
      <td>0.063953</td>
      <td>0.142857</td>
      <td>0.205128</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>...</td>
      <td>0.5</td>
      <td>0.577733</td>
      <td>0.033333</td>
      <td>0.166667</td>
      <td>0.000000</td>
      <td>0.0</td>
      <td>70-100-48-49-23-36-11</td>
      <td>8916-1448-2-1361</td>
      <td>4908-9745-7070-4203-3292</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>699</td>
      <td>32650128</td>
      <td>-1</td>
      <td>0.089744</td>
      <td>0.051095</td>
      <td>0.063953</td>
      <td>0.142857</td>
      <td>0.205128</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>...</td>
      <td>0.5</td>
      <td>0.275827</td>
      <td>0.333333</td>
      <td>0.333333</td>
      <td>1.000000</td>
      <td>0.0</td>
      <td>93-70-47-28-46-17-9-56-36-11-222-273-279-224-2...</td>
      <td>10524-146-6843-39-170-185-5084-1370</td>
      <td>3052-8212-7766-5754-1196-19385-13629-15976-155...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>699</td>
      <td>19061996</td>
      <td>-1</td>
      <td>0.089744</td>
      <td>0.051095</td>
      <td>0.063953</td>
      <td>0.142857</td>
      <td>0.205128</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>...</td>
      <td>0.5</td>
      <td>0.814443</td>
      <td>0.866667</td>
      <td>0.666667</td>
      <td>0.333333</td>
      <td>0.0</td>
      <td>93-70-77-37-109-12-98-4-75-8-29-49-6-42-46-13-...</td>
      <td>3690-8256-1296-1281-41-51-0-98-61</td>
      <td>6866-9826-6075-8726-3450-13069-17084-10484-148...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>699</td>
      <td>51590482</td>
      <td>-1</td>
      <td>0.089744</td>
      <td>0.051095</td>
      <td>0.063953</td>
      <td>0.142857</td>
      <td>0.205128</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>...</td>
      <td>0.5</td>
      <td>0.112337</td>
      <td>0.333333</td>
      <td>0.333333</td>
      <td>0.333333</td>
      <td>0.0</td>
      <td>70-86-100-76-28-106-67-59-49-83-6-95-17-56-116...</td>
      <td>783-31-664-857-13454-16230-3890-3049</td>
      <td>9826-523-494-7684-644-15584-17103-10914-16528-...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>699</td>
      <td>14658348</td>
      <td>-1</td>
      <td>0.089744</td>
      <td>0.051095</td>
      <td>0.063953</td>
      <td>0.142857</td>
      <td>0.205128</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>...</td>
      <td>0.5</td>
      <td>0.947844</td>
      <td>0.466667</td>
      <td>0.666667</td>
      <td>0.333333</td>
      <td>0.0</td>
      <td>70-77-28-106-64-6-46-57-36-11-224-273-246-204-...</td>
      <td>508-673-899-1048-732-1530-121-6-3402</td>
      <td>348-1794-9826-7308-8990-10597-12485-12713-1862...</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 24 columns</p>
</div>

In [24]:
len(train_ad_user[train_ad_user['aid'] == 1746])

6886

In [27]:
train_ad_user.to_csv('data/train_ad_user_all.csv', columns=train_ad_user.columns, index=False)

In [29]:
test_user = pd.merge(test, user_feature_final, on='uid')
test_user.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>aid</th>
      <th>uid</th>
      <th>age</th>
      <th>gender</th>
      <th>marriageStatus</th>
      <th>education</th>
      <th>consumptionAbility</th>
      <th>LBS</th>
      <th>ct</th>
      <th>os</th>
      <th>carrier</th>
      <th>house</th>
      <th>interest</th>
      <th>kw</th>
      <th>topic</th>
      <th>appId</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2118</td>
      <td>64355836</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>0.219512</td>
      <td>0.857143</td>
      <td>1.0</td>
      <td>0.485456</td>
      <td>0.866667</td>
      <td>0.333333</td>
      <td>0.333333</td>
      <td>0.0</td>
      <td>70-86-100-76-75-28-106-29-72-17-56-36-11-247-2...</td>
      <td>72-59-86-12813-6200-3141-97-3886</td>
      <td>9163-1390-9359-7441-2266-18582-11471-10679-145...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1508</td>
      <td>64355836</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>0.219512</td>
      <td>0.857143</td>
      <td>1.0</td>
      <td>0.485456</td>
      <td>0.866667</td>
      <td>0.333333</td>
      <td>0.333333</td>
      <td>0.0</td>
      <td>70-86-100-76-75-28-106-29-72-17-56-36-11-247-2...</td>
      <td>72-59-86-12813-6200-3141-97-3886</td>
      <td>9163-1390-9359-7441-2266-18582-11471-10679-145...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>692</td>
      <td>45051997</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>0.024390</td>
      <td>0.285714</td>
      <td>0.0</td>
      <td>0.459378</td>
      <td>0.033333</td>
      <td>0.166667</td>
      <td>0.000000</td>
      <td>0.0</td>
      <td>118-8-36-11</td>
      <td>460-271-429-18-91-137-0-98-116</td>
      <td>7087-644-3883-9219-4443-13397-17314-12746-1882...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>692</td>
      <td>10869198</td>
      <td>0.4</td>
      <td>0.5</td>
      <td>0.000191</td>
      <td>0.000000</td>
      <td>0.0</td>
      <td>0.000000</td>
      <td>0.033333</td>
      <td>0.166667</td>
      <td>0.000000</td>
      <td>0.0</td>
      <td>0</td>
      <td>53</td>
      <td>30000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1918</td>
      <td>75929554</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>0.048780</td>
      <td>1.000000</td>
      <td>0.5</td>
      <td>0.143430</td>
      <td>0.333333</td>
      <td>0.666667</td>
      <td>0.333333</td>
      <td>1.0</td>
      <td>93-70-86-8-49-83-6-42-73-46-36-11-96-51-100-76...</td>
      <td>220-188-288-3215-1490-97-610-283-243</td>
      <td>4264-523-4149-1869-9786-12293-10343-15380-1912...</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [32]:
test_ad_user_all = pd.merge(test_user, ad_feature_mapped, on='aid')
test_ad_user_all.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>aid</th>
      <th>uid</th>
      <th>age</th>
      <th>gender</th>
      <th>marriageStatus</th>
      <th>education</th>
      <th>consumptionAbility</th>
      <th>LBS</th>
      <th>ct</th>
      <th>os</th>
      <th>...</th>
      <th>kw</th>
      <th>topic</th>
      <th>appId</th>
      <th>advertiserId</th>
      <th>campaignId</th>
      <th>creativeId</th>
      <th>creativeSize</th>
      <th>adCategoryId</th>
      <th>productId</th>
      <th>productType</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2118</td>
      <td>64355836</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>0.219512</td>
      <td>0.857143</td>
      <td>1.0</td>
      <td>0.485456</td>
      <td>0.866667</td>
      <td>0.333333</td>
      <td>...</td>
      <td>72-59-86-12813-6200-3141-97-3886</td>
      <td>9163-1390-9359-7441-2266-18582-11471-10679-145...</td>
      <td>0</td>
      <td>0.24359</td>
      <td>0.080292</td>
      <td>0.959302</td>
      <td>0.285714</td>
      <td>0.512821</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2118</td>
      <td>4536480</td>
      <td>1.0</td>
      <td>0.5</td>
      <td>0.024390</td>
      <td>1.000000</td>
      <td>0.5</td>
      <td>0.966901</td>
      <td>0.033333</td>
      <td>0.166667</td>
      <td>...</td>
      <td>5297-1525-33-974</td>
      <td>8822-9826-5726-6586-644</td>
      <td>0</td>
      <td>0.24359</td>
      <td>0.080292</td>
      <td>0.959302</td>
      <td>0.285714</td>
      <td>0.512821</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2118</td>
      <td>62790098</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>0.198171</td>
      <td>0.714286</td>
      <td>0.0</td>
      <td>0.682046</td>
      <td>0.333333</td>
      <td>0.333333</td>
      <td>...</td>
      <td>2-31-447-11200-225-46-1-9791</td>
      <td>4427-1103-4111-7519-8402-17772-10881-16287-190...</td>
      <td>0</td>
      <td>0.24359</td>
      <td>0.080292</td>
      <td>0.959302</td>
      <td>0.285714</td>
      <td>0.512821</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2118</td>
      <td>14471378</td>
      <td>0.4</td>
      <td>0.5</td>
      <td>0.219512</td>
      <td>0.857143</td>
      <td>0.0</td>
      <td>0.433300</td>
      <td>0.266667</td>
      <td>0.333333</td>
      <td>...</td>
      <td>217-7775-3864-172-252-11869-199-1499-569</td>
      <td>4943-3000-2568-465-9826-16783-18518-10493-1936...</td>
      <td>0</td>
      <td>0.24359</td>
      <td>0.080292</td>
      <td>0.959302</td>
      <td>0.285714</td>
      <td>0.512821</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2118</td>
      <td>58562639</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>0.024390</td>
      <td>1.000000</td>
      <td>1.0</td>
      <td>0.203611</td>
      <td>0.466667</td>
      <td>0.666667</td>
      <td>...</td>
      <td>4573-9164-11087-7202-91-137-7869-0</td>
      <td>8906-5932-1831-5274-9771-17390-14329-18953-183...</td>
      <td>0</td>
      <td>0.24359</td>
      <td>0.080292</td>
      <td>0.959302</td>
      <td>0.285714</td>
      <td>0.512821</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 23 columns</p>
</div>

In [33]:
test_ad_user_all.to_csv('data/test_ad_user_all.csv', columns=test_ad_user_all.columns, index=False)

In [2]:
test_ad_user_all = pd.read_csv('data/test_ad_user_all.csv')

In [3]:
column = ['aid', 'uid', 
          'advertiserId', 'campaignId', 'creativeId', 'creativeSize', 'adCategoryId', 'productId', 'productType',
          'age', 'gender', 'marriageStatus', 'education', 'consumptionAbility', 'LBS', 'ct', 'os', 'carrier', 'house', 
          'interest', 'kw', 'topic', 'appId']
test_ad_user_all.to_csv('data/test_ad_user_all.csv', columns=column, index=False)